.env
.env.*
mysql_data/
.DS_Store
Thumbs.db

backend/target/
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/
backend/bin/
backend/.mvn/wrapper/maven-wrapper.jar
backend/HELP.md
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/.vscode/

frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/package-lock.json
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*